<section style="width:700px;margin:0 auto; border:1px solid gray;padding:1em;">
    <h1 style="text-align:center; margin-bottom:2em;">
      Here you'll find a list of Seven elevens listed by locations</h1>

    <% if @sevens.any? %>
      <% @sevens.each do |seven| %>
        <h2><%= seven.name %></h2>
      <% end %>
    <% else %>
        <h2>No sevens have been added yet</h2>
    <% end %>

    <div style="margin-top:2em; padding:1em;background-color:#f4f4f4;border-radius:5px;width:90px;
            text-align:center;border-color:#f0f0f0;">
            <a href="sevens/new">Add a Seven</a>
    </div>


</section>
